{% extends "layout.html" %}

{% block content %}

    <section class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="section-heading">Art of the moment</h2>
            <hr>
            <p>
              Refresh page to get a new piece of artwork.
            </p>
            <a href="{{ image_link_normalized }}" target="_blank"><img class="artwork" src="{{ image_link_large }}" alt="{{ title }}"></a>
            <p>
              Title: {{ title }}<br>
              Date: {{ date }}<br>
              Artist: {{ artist }}<br>
              <a href="{{ artsy_link }}" target="_blank">More ...</a>
            </p>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
